.login-form-wrapper {
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80%;
    margin: 40px 0;
    border: 5px solid #232525;
    padding: 20px;
}


